.page-26 {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  background-color:white;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 10vh;
}

.problem-img {
  margin: 10px 20px;
  width: 100%;
}

.problem-img td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

p {
  margin: 0 20px;
}
