.login-page{
    min-width: 100vw;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    position:relative;
    width: 40%;
    height: 35em;
    border: 2px solid black;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.login-title-section{
    font-size: 2em;
    margin-bottom: 1.5em;
}

.login-subtitle-section{
    font-size: 1.4em;
    margin-bottom: 3em;
}

.login-box{
    margin-bottom: 1em;
}

.login-button{
    all:unset;
    border: 1px;
    padding: 0.4em 1.5em;
    border-radius: 8px;
    color: white;
    background-color: #A8DADC;
}

.login-button:hover{
    cursor: pointer;
    background-color: #a8dadcab;
}