.login-row{
    display:flex;
}

.login-input{
    width: 20em;
    height: 2.5em;
    margin-bottom: 1em;
    padding: 0.2em 1em;
    border: 1px solid rgba(128, 128, 128, 0.559);
    border-radius: 10px;
    font-size: 1em;
}

.login-input:focus-visible{ 
    outline: -webkit-focus-ring-color auto 0px;
}