.page31_2 {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  background-color:white;
  height: 100vh;
}

.problem-img {
  margin: 10px 20px;
  width: 100%;
}

.problem-img td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
.problem-img td button {
  margin: 10px;
}
p {
  padding: 10px;
}

.tree-zone1 {
  background-color: rgb(250, 251, 227);
}

.tree-zone2 {
  background-color: rgb(252, 242, 242);
}

input[type="text"] {
  height: 30px;
  padding: 5px;
  margin: 5px;
}
